body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #696969;
  text-transform: uppercase;


  background-color: #f2f2f2;
  background-image: url("img/background.jpg");
  background-position: top center;
  background-repeat: repeat;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  display: none;
}

.menu-navigation-left,
.menu-navigation, {
  list-style: none;
  font-size: 14px;
  color: #ffffff;
}

.rubric-1 h1,
.advantages-item h3,
.advantages-list h3,
.interest h2 {
  font-size: 21px;
  color: #171717;
}

.rubric-1 p,
.advantages-item p,
.advantages-list p,
.interest p {
  font-size: 14px;
  color: #a9a9a9;
}


.advantages-list {
  list-style: none;
}

.real-city-list h3 {
  font-size: 21px;
  color: #fafcfd;
}

.real-city-list p {
  font-size: 14px;
  color: #ffffff;
}

.social-buttons {
  list-style: none;
}

