body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: repeat;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden  {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-logo {
  background-image: url(../img/background-photo.png);
  background-repeat: no-repeat;
}

.filtering {
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
}

.main-menu-navigation {
  list-style: none;
  font-size: 14px;
}

.navigation {
  font-weight: bold;
  list-style: none;
  font-size: 14px;
  color: #ffffff;
}

.navigation,
.choose-variant-hotel,
.main-footer,
.three-advantages,
.interest {
  background-color: #ffffff;
}

.real-city-list,
.bridge {
  background-color: #81b3d2;
}


.three-advantages-2 {
  background-color: #eeeeee;
}

.main-footer {
  background-color: rgba(249, 251, 246, 0.5)
}

.headline {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.sorting {
  font-size: 12px;
}

.result-finds {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.interested {
  font-size: 30px;
  line-height: 26px;
  color: #000000;
}

.main-style-list {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}

.advantages-list {
  list-style: none;
}

.h3-style {
  font-size: 21px;
  color: #ffffff;
}

.style-list-one {
  font-size: 14px;
  color: #ffffff;
}

.forma {
  background-color: #ffffff;
}

.social {
  list-style: none;
}

.variant {
  font-size: 21px;
  font-weight: bold
}

.row {
  color: #ffffff;
}

.col {
  font-size: 14px;
}

.costs-for-day {
  font-weight: bold;
  font-size: 16px;
}

.smaller-larger, {
  font-weight: normal;
  font-size: 14px;
}

.infrostructure {
  font-size: 16px;
}

.social {
  display: inline-block;
  font-size: 14px;
  background-color: #82b3d3;
  color: #fff;
  width: 46px;
  height: 48px;
}

.social-buttons {
  list-style: none;
}

.results-find {
  list-style: none;
}

.dashed {
  border-bottom: 1px dashed #81b3d2;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}

.hash-tag {
  font-weight: bold;
  font-size: 21px;
  color: #000;
}

.button-show {
  background-color: Transparent;
  color: rgba(255, 255, 255, 1);
}

.button-find {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  padding: 30px 138px;
  background-color: #766257;
  color: #ffffff;
}

.for-cost {
  font-size: 12px;
  color: #81b3d2;
}

.show-variant {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  padding: 15px 195px;
  background-color: #81b3d2;
  color: #fff;
}

.label-style {
  font-weight: bold;
  font-size: 14px;
}

.curent {
  color: #766357;
}

.button-blue {
  display: inline-block;
  font-weight: bold;
  padding: 6px 17px;
  font-size: 14px;
  background-color: #82b3d3;
  color: #ffffff;
}

.button-grow {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 17px;
  background-color: #766257;
  color: #ffffff;
}

.button-show:hover {
  background-color: #fff;
  color: #000;
}

.information-hover:hover,
.photo-and-video:hover,
.map-state:hover,
.hotels:hover,
.variant:hover {
  color: #81b3d2;
}

.for-rank:hover {
  color: #81b3d2;
}

.dashed:hover {
  border-bottom: 0px;
}

.button-blue:hover,
.show-variant:hover {
  background-color: #669ebf;
  color: #fff;
}

.button-grow:hover,
.button-find:hover {
  background-color: #604e44;
  color: #fff;
}

.button-blue:active,
.show-variant:active {
  background-color: #5596be;
  color: rgba(255, 255, 255, 0.3);
}

.button-grow:active,
.button-find:active {
  background-color: #503e32;
  color:  rgba(255, 255, 255, 0.3);
}

.information-hover:active,
.photo-and-video:active,
.map-state:active,
.hotels:active,
.variant:active {
  color: rgba(0, 0, 0, 0.3);
}

.for-rank:active {
  color: #000000;
}

.input-bg {
  background-color: #f2f2f2;
}

.input-bg:hover {
  background-color: #ebebeb;
}

.input-bg:focus {
  background-color: #ffffff;
}

.social {
  display: inline-block;
  background-color: #82b3d3;
  width: 46px;
  height: 48px;
}

.social:hover {
  background-color: #669ebf;
}

.social:active {
  background-color: #5596be;
}

.social:active img {
  opacity: .3;
}

.logo-academy {
  width: 115px;
  height: 41px;
  fill: #231f20;
}

.logo-academy:hover {
  fill: #81b4d3;
}

.logo-academy:active {
  fill:  rgba(0, 0, 0, 0.3);
}

