body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-position: top center;
  background-repeat: repeat;
}

a {
  text-decoration: none;
  color: #000000;
}

.header {
  position: relative;
  z-index: 2;
}

.container {
  box-shadow: 0 0 15px 5px rgba(129, 129, 129, 0.2);
}

.visually-hidden  {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  list-style: none;
}

.header-logo {
  background-image: url(../img/background-photo.jpg);
  background-repeat: no-repeat;
  padding: 74.7px 0 80px;
  position: relative;
}

.header-logo::after {
  content: "";
  display: block;
  width: 100%;
  height: 57px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../img/polygon.svg);
  background-size: cover;
}

.filtering {
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  color: #fff;
  height: 215.5px;
  width: 1200px;
}
.navigation {
  font-weight: bold;
  list-style: none;
  font-size: 14px;
  color: #ffffff;
}

.variant-sorts {
  display: flex;
  flex-wrap: wrap;
  padding: 9.8px 0 9px 61.1px;
}

.navigation,
.choose-variant-hotel,
.main-footer,
.three-advantages,
.interest {
  background-color: #ffffff;
}

.three-advantages {
  margin-bottom: 4.1px;
}

.real-city-list,
.bridge {
  background-color: #81b3d2;
}

.three-advantages-2 {
  background-color: #eeeeee;
}

.main-footer {
  position: absolute;
  width: 1200px;
  height: 120px;
  margin-top: -123.2px;
  background-color: rgba(249, 251, 246, 0.9)
}

.footer-hotel {
  position: absolute;
  width: 1200px;
  height: 120px;
  background-color: rgba(249, 251, 246, 0.9)
}

.variation {
  height: 150px;
  border-top: 1px solid #f2f2f2;
}

.variation:last-child {
  border-bottom: 1px solid #f2f2f2;
}

.headline-first {
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.headline-second {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  width: 200px;
  margin-left: 88.5px;
}

.headline-third {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  width: 160px;
  margin-left: 109.8px;
}

.headline-fourth {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  width: 146.8px;
  margin-left: 116px;
}

.sorting {
  font-size: 12px;
  color: initial;
  padding-top: 17.2px;
  margin-left: -120.3px;
}

.result-finds {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.find-hotel {
  padding-top: 30px;
}

.interested {
  font-size: 30px;
  line-height: 26px;
  color: #000000;
}

.first-paragraph-list {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
  width: 303.3px;
  margin-left: 38.1px;
}

.second-paragraph-list {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
  width: 284.1px;
  margin-top: 21.1px;
  margin-left: 47.4px;
}

.third-paragraph-list {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
  width: 280px;
  margin-top: 20.9px;
  margin-left: 50px;
}

.fourth-paragraph-list {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
  width: 254.8px;
  margin-top: 21.1px;
  margin-left: 62.4px;
}

.mainly {
  font-size: 14px;
  color: #333333;
  line-height: 24px;
  margin-top: 29px;
}

.advantages-list {
  list-style: none;
}

.h3-style {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  padding: 27px 0 3.5px 0;
}

.style-list-one {
  line-height: 21px;
  font-size: 14px;
  color: #ffffff;
  width: 295.6px;
  margin-top: 20.5px;
  margin-left: 42px;
}

.style-list-two {
  line-height: 21px;
  font-size: 14px;
  color: #ffffff;
  width: 321.1px;
  margin-top: 20.5px;
  margin-left: 29.7px;
}

.paragraph-one {
  line-height: 21px;
  font-size: 14px;
  color: #ffffff;
}

.paragraph-two {
  line-height: 21px;
  font-size: 14px;
  color: #ffffff;
  margin-top: -2px;
}

.paragraph-set {
  line-height: 21px;
  font-size: 14px;
  color: #333333;
  margin-top: 23.6px;
}

.paragraph-set-one {
  width: 209.5px;
  margin-left: 84.2px;
  margin-top: 26px;
}

.home-image {
  margin-top: -2.6px;
  margin-bottom: -1px;
}

.burger-image {
  margin-top: -1px;
}

.gift-image {
  margin-top: -2.4px;
  margin-bottom: 2.6px;
}

.variant {
  font-size: 21px;
  font-weight: bold
}

.cost-hotel {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 16px;
}

.col {
  font-size: 14px;
}



.costs-for-day {
  font-weight: bold;
  font-size: 16px;
}

.smaller-larger {
  font-size: 14px;
  font-weight: normal;
}

.infrostructure {
  font-size: 16px;
}

.pool {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.pool input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #fff;
}

.pool input[type="checkbox"]:checked + .checkbox-indicator::before,
.pool input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #fff;
}

.dashed {
  border-bottom: 1px dotted #81b3d2;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}

.hash-tag {
  font-weight: bold;
  font-size: 21px;
  color: #000;
}

.button-show {
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 14px;
  padding: 6px 35px;
  background-color: Transparent;
  color: rgba(255, 255, 255, 1);
  line-height: 20px;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  width: 136px;
  margin-right: 159px;
}

.button-find {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  padding: 30px 138px;
  background-color: #766257;
  color: #ffffff;
  margin-top: 31.7px;
}

.for-cost {
  font-size: 12px;
  color: #81b3d2;
}

.show-variant {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  padding: 15px 195px;
  background-color: #81b3d2;
  color: #fff;
  margin-bottom: 55px;
  margin-top: 106px;
}

.label-style {
  font-weight: bold;
  font-size: 14px;
}

.button-blue {
  display: inline-block;
  font-weight: bold;
  padding: 6px 17px;
  font-size: 14px;
  background-color: #82b3d3;
  color: #ffffff;
}

.button-grow {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 17px;
  background-color: #766257;
  color: #ffffff;
}

.button-show:hover {
  background-color: #ffffff;
  color: #000000;
}

.menu-link:hover,
.variant:hover {
  color: #81b3d2;
}

.for-rank:hover {
  color: #81b3d2;
}

.dashed:hover {
  border-bottom: 0px;
}

.button-blue:hover,
.show-variant:hover {
  background-color: #669ebf;
  color: #fff;
}

.button-grow:hover,
.button-find:hover {
  background-color: #604e44;
  color: #fff;
}

.button-blue:active,
.show-variant:active {
  background-color: #5596be;
  color: rgba(255, 255, 255, 0.3);
}

.button-grow:active,
.button-find:active {
  background-color: #503e32;
  color:  rgba(255, 255, 255, 0.3);
}

.menu-link:active,
.variant:active {
  color: rgba(0, 0, 0, 0.3);
}

.curent,
.curent:hover,
.curent:active {
  color: #766357;
}

.for-rank:active {
  color: #000000;
}

.input-bg {
  background-color: #f2f2f2;
}
.input-date {
  background-color: #f2f2f2;
  width: 345px;
}

.input-bg:hover {
  background-color: #ebebeb;
}

.input-date:hover {
  background-color: #ebebeb;
}

.input-bg:focus {
  background-color: #ffffff;
}

.input-date:focus {
  background-color: #ffffff;
}

.logo-academy {
  width: 115px;
  height: 41px;
  fill: #231f20;
}

.logo-academy:hover {
  fill: #81b4d3;
}

.logo-academy:active {
  fill:  rgba(0, 0, 0, 0.3);
}

.main-menu-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 71px 8px;
  list-style: none;
  font-size: 14px;
}

.menu-item {
  flex: 0 0 15%;
  max-width: 15%;
}

.menu-item:nth-child(1) {
  margin-right: 83px;
}

.menu-item:nth-child(3n) {
  margin-right: 86.9px;
  text-align: right;
  margin-left: auto;
}

.menu-item:nth-child(4) {
  text-align: right;
}

.logo-sedona {
  display: block;
  width: 140px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: -80px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: white;
}

.real-city-list {
  flex: 0 0 33.33334%;
  max-width: 33.33334%;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
}


.bridge {
  flex: 0 0 33.33334%;
  max-width: 33.33334%;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
}

.city-png {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.stonebridge-image {
  display: block;
}

.hotel-img {
  display: block;
}

.list-advantage {
  flex: 0 0 33.33334%;
  max-width: 33.33334%;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
}

.form {
  margin: 0 auto;
  position: relative;
  max-width: 570px;
}

.booking-form {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  height: 394.3px;
}

.rubric-1 {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 46.3px 300px 40.7px 300px;
}

.five-causes {
  margin-top: 32px;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.first-catalog {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-top: 59.9px;
  padding-bottom: 62.6px;
}

.second-catalog {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 27.5px 0px 45px;
}

.controller-position {
  display: inline-block;
  list-style: none;
}

.list-item {
  flex: 0 0 33.33334%;
  max-width: 33.33334%;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
}

.interest {
  height: 236.1px;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 0 0 33.33334%;
  max-width: 33.33334%;
  padding: 0 10px;
  box-sizing: border-box;
  padding-top: 21.8px;
}

.col-2 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 10px;
  box-sizing: border-box;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  box-sizing: border-box;
  padding: 27px 0 0 178.5px;
}

.col-hotel {
  flex: 0 0 33.33334%;
  max-width: 17.33334%;
  padding: 28.2px 0 0 71.8px;
  box-sizing: border-box;
}

.filter-range {
  flex: 0 0 33.33334%;
  max-width: 33.33334%;
  padding: 20px 10px;
  box-sizing: border-box;
  width: 330px;
}

.filter-range-tittle {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}

.price-controls {
  position: relative;
  width: 314px;
  height: 31px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #fff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #fff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.min-price {
  width: 90px;
  padding-left: 65px;
}

.max-price {
  width: 90px;
  padding-left: 57px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background:none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
  width: 316px;
}

.scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.bar {
  width: 80%;
  height: 2px;
  background: #fff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #1c4f80;
}

.range-toggle-min {
  left: 0px;
}

.range-toggle-max {
  left: 80%;
}

.content-string {
  flex: 0 0 33.33334%;
  max-width: 33.33334%;
  padding: 24px 30px;
  box-sizing: border-box;
}

.star-image {
  margin-right: 1.5px;
}

.raiting-hotel {
  width: 150px;
  margin: 0 auto;
  display: block;
  margin-top: 28px;
  margin-right: 72.5px;
  text-align: right;
}

.raiting {
  display: inline-block;
  color: #666;
  width: 110px;
  background-color: #f2f2f2;
  height: 27px;
  margin-top: 49.5px;
  margin-right: 13px;
}

.up-button {
  fill: #cacaca;
}

.down-button {
  fill: #cacaca;
  margin-left: 8px;
  transform: rotate(180deg);
}

.up-button:hover,
.down-button:hover {
  fill: #000000;
}

.up-button:active,
.down-button:active {
  fill: #81b3d2;
}

.hash-tag {
  padding: 0px;
  margin: 0px;
  width: 150px;
  margin-top: 25.4px;
  margin-left: 121.5px;
}

.footer-copyright {
  display: inline-flex;
  align-items: center;
  margin-right: 90px;
  margin-left: 93px;
  margin-top: 17.8px;
}

.catalog-style {
  width: 294px;
  text-align: center;
}

.catalog-style-sorts {
  width: 294px;
  text-align: center;
  padding-top: 12.5px;
  margin-left: -373.3px;
}

.catalog-style li,
.catalog-style-sorts li {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px;
}

.list-for-cost {
  margin-bottom: 5px;
  margin-left: 29.3px;
}

.list-for-rank {
  margin-bottom: 5px;
  margin-left: 29.3px;
}

.bysite {
  margin-bottom: 5px;
  margin-right: 7px;
}

.social {
  display: inline-flex;
  justify-content: space-around;
  text-align: center;
  font-size: 14px;
  background-color: #82b3d3;
  color: #fff;
  width: 45px;
  height: 48px;
  margin-left: 3px;
}

.social-image {
  display: inline-flex;
  justify-content: space-between;
  vertical-align: middle;
}

.social:hover {
  background-color: #669ebf;
}

.social:active {
  background-color: #5596be;
}

.social:active img {
  opacity: .3;
}

